.Wrapper {
    margin: 0 auto;
    text-align: center;
}

.Screen {
    width: 184px;
    height: 100px;
    border: 2px solid black;
    margin: 0 auto;
    font-size: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
    border-radius: 90px/20px;
    outline: none;
    text-align: center;
}

.Green {
    background: green;
}

.Red {
    background: red;
}

.Buttons-Container > div {
    display: flex;
    justify-content: center;
}

.Buttons-Container > div input {
    margin: 5px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 90px/30px;
    cursor: pointer;
}
